.activity {
    padding: 49px 0 40px;
    border-bottom: 1px solid #4c5761;

    &__wrap {
        display: flex;
    }

    .block-title {
        width: 35%;

        h2 {
            margin: 0;
        }
    }

    .items {
        display: flex;
        flex-wrap: wrap;
        width: 65%;

        &__item {
            color: @bg;
            background-color: @green;
            font-size: 15px;
            border-radius: 100px;
            padding: 6px 14px;
            margin: 0 6px 10px 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .activity {
        padding: 38px 0 28px;

        &__wrap {
            display: block;
        }

        .block-title {
            width: 100%;
            margin: 14px 0 0;
        }

        .items {
            width: 100%;
            margin-top: 30px;
        }
    }
}