.pay-info {
    padding: 33px 0 79px;
    border-bottom: 1px solid #4c5761;

    &__wrap {
        margin-top: 21px;
    }

    &__item {
        display: flex;
        padding: 15px 20px;

        &:nth-of-type(odd) {
            background-color: #3f4850;
        }

        .name {
            font-size: 17px;
            color: @white;
            width: 34%;
            padding-right: 10px;
        }

        .value {
            font-size: 17px;
            color: @white;
            width: 66%;
        }
    }
}

@media screen and (max-width: 992px) {
    .pay-info {
        &__item {
            .name {
                font-size: 15px;                
            }
    
            .value {
                font-size: 15px;                
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .pay-info {
        &__item {
            display: block;

            .name {
                font-size: 15px;
                width: 100%;                
                padding-right: 0;
            }
    
            .value {
                font-size: 12px;            
                width: 100%;    
                margin-top: 10px;
            }
        }
    }
}