.header {
    padding: 16px 0 27px;
    border-bottom: 1px solid #4c5761;

    &__wrap {
        display: flex;      
        //align-items: center;  
        position: relative;
    }

    .logo {

        p {
            font-weight: 500;
            font-size: 40px;
            margin: 0;

            &.sub {
                font-size: 15px;
                letter-spacing: 6.5px;
                text-align: center;
            }
        }

        .green {
            color: @green;
        }

        .violet {
            color: @violet;
        }
    }

    .info {
        display: flex;
        margin-left: 50px;
        margin-top: 17px;

        &__item {
            border-left: 2px dotted fade(@white, 20%);
            padding: 5px 23px 0;

            p {
                font-size: 12px;
                color: @white;
                margin: 0;

                &:nth-of-type(2) {
                    font-weight: 700;
                    font-size: 13px;
                    color: @green;
                    margin-top: 7px;
                }
            }
        }
    }

    .icons {
        display: flex;
        margin-left: auto;
        margin-top: 10px;

        &__item {
            text-align: center;
            margin-left: 15px;

            .icon {
                width: 40px;
                height: 40px;
                fill: @white;
                border: 2px solid @green;
                border-radius: 100px;
                padding: 6px;
            }

            span {
                display: block;
                font-size: 12px;
            }
        }
    }

    &__feedback {
        margin: 10px 0 0 auto;
        background-color: @green;
        color: @bg;
        font-weight: 500;
        padding: 6px 14px;
        border-radius: 100px;
        align-self: flex-start;
    }

    .burger {
        display: none;
        margin-left: 20px;
        width: 30px;
        height: 18px;
        margin-top: 16px;
        position: relative;
        z-index: 6;

        span {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: @green;
            margin: auto;
            transition: 0.3s;
            transform: rotate(0);
            opacity: 1;

            &:nth-of-type(1) {
                bottom: auto;
            }

            &:nth-of-type(3) {
                top: auto;
            }
        }

        &.active {
            span {
                &:nth-of-type(1) {
                    bottom: 0;
                    transform: rotate(45deg);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    top: 0;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    &_terminal {
        padding-bottom: 0;
        border: none;
    }

    .nav {
        border-top: 1px solid #4c5761;
        margin-top: 25px;
        padding: 21px 0;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;  
        width: 100%;      

        a {
            color: @white;
            transition: 0.3s;
            font-weight: 500;
            font-size: 15px;

            &:hover {
                color: @green;
            }
        }
    }

    .mobile-menu {
        z-index: 5;
        position: fixed;
        top: 0;
        left: 20%;
        width: 80%;
        height: 100vh;
        padding: 60px 40px 20px;
        background-color: #3b444c;
        display: none;
        overflow: auto;

        &:before {
            content: '';
            position: absolute;
            display: block;
            left: -25%;
            top: 0;
            width: 25%;
            height: 100vh;
            background-color: #3b444c;
            opacity: 0.5;
            margin: 0;
            transition: 0.3s;
            pointer-events: none;
            z-index: 2;
        }

        &__wrap {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
        }

        .login {
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 20px;
            
            &__wrap {
                flex-direction: column;
                align-items: flex-start;
            }
    
            &__item {
                margin-right: 0;
                margin-bottom: 10px;    
            }
    
            .link {
                margin: 7px 0 0 0;
            }
        }

        .header__feedback {
            margin: auto 0 0 0;
        }

        .info {
            flex-direction: column;

            &__item {
                border: none;
                padding: 0;
                display: flex;
                margin-bottom: 15px;
    
                p {
                    font-size: 12px;
                    color: @white;
                    margin: 0;
    
                    &:nth-of-type(2) {
                        font-weight: 700;
                        font-size: 13px;
                        color: @green;
                        margin-top: 0;
                        margin-left: 10px;
                    }
                }
            }
        }

        .icons {
            display: flex;
            flex-wrap: wrap;
            margin: auto 0 0 0;

            &__item {
                margin: 0 10px 10px 0;
            }
        }

        .menu {
            flex-direction: column;
            align-items: flex-start;
            margin-top: 40px;

            &__item {
                margin-bottom: 10px;
            }
        }
    }

}

@media screen and (max-width: 1200px) {
    .header {
        .logo {
            margin-right: 40px;

            p {
                font-size: 35px;

                &:nth-of-type(2) {
                    font-size: 12px;
                }
            }
        }

        .info {
            margin-left: 0;
            margin-top: 10px;

            &__item {
                padding: 5px 10px 0;

                p {
                    font-size: 10px;

                    &:nth-of-type(2) {
                        font-size: 11px;
                    }
                }
            }
        }

        .icons {
            margin-top: 5px;

            &__item {
                margin-left: 10px;

                .icon {
                    width: 35px;
                    height: 35px;
                }

                span {
                    font-size: 10px;
                }
            }
        }

        .menu {
            a {
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        .logo {
            margin-right: 0;
        }

        .burger {
            display: block;
        }

        &_terminal {
            padding-bottom: 27px;
            border-bottom: 1px solid #4c5761;
        }

        .nav {
            display: none;
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        .logo {
            p {
                font-size: 30px;

                &.sub {
                    font-size: 12px;
                    letter-spacing: 4.6px;
                }
            }
        }

        .icons {
            display: none;
        }

        &_login {
            .burger {
                margin-left: auto;
            }
        }

        &_terminal {
            .burger {
                margin-left: auto;
            }
        }
    }   
}

@media screen and (max-width: 576px) {
    .header {
        &__feedback {
            display: none;
        }

        .burger {
            margin-left: auto;
        }

        .mobile-menu {
            padding: 60px 20px 20px;
        }
    }
}